<script type="module" crossorigin src="/admin/plugins/message_center/assets/main.b24eb62b.js"></script>
<link rel="stylesheet" href="/admin/plugins/message_center/assets/main.c545f0f9.css">
<div id="messageCenter"></div>


