<script type="module" crossorigin src="/admin/plugins/message_center/assets/main-a6850f5d.js"></script>
<link rel="stylesheet" href="/admin/plugins/message_center/assets/build-741959bf.css">
<div id="messageCenter"></div>


